<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body>
   {% include directory ~ "/partials/header.html.twig" %}
  {% include directory ~ "/partials/hero.html.twig" %}
  
  {% include directory ~ "/partials/body.html.twig" %}
  {% include directory ~ "/partials/footer.html.twig" %}
</body>

</html>